<body style="text-align: center; background-color: #ECECEC;">
<div class="justify-content-center m-0 mb-2">
  <div>
    <div>
      <h1 style="size:32px; margin-top: 50px; padding-top: 20px; margin-bottom: 30px; text-align: center">QUẢN LÝ ĐIỂM CỦA HỌC SINH
        LỚP {{clazzName}}</h1>
    </div>
    <p style="color: red" *ngIf="messageSemesterOne">{{messageSemesterOne}}</p>
    <p style="color: red" *ngIf="messageSemesterTwo">{{messageSemesterTwo}}</p>
    <div>
      <div class="col-1"></div>
      <div class="col-10 container-fluid">
        <div class="row">
          <div class="col-3" style="text-align: left">
            <span>
               <button class="btn btn-primary" style="margin-top: 10px; text-align: right" (click)="toPdf()">Xuất file
              PDF bẳng điểm
            </button>
            </span>
          </div>
          <div class="col-6"></div>
          <div class="col-3" style="text-align: right">
            <div class="d-flex" style="margin-top: 10px; margin-bottom: 20px">
              <input class="form-control me-2" [value]="" [(ngModel)]="studentName" type="search"
                     placeholder="Tìm tên học sinh"
                     aria-label="Search" style="border: 1px solid #b6effb">
              <button class="btn" (click)="search()" type="submit"
                      style="text-align: center; size: 30px; border: 1px solid #b6effb">
                <i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </div>
        </div>
        <table style="box-shadow: 0 0 20px 0 #253365;" class="table table-bordered table-hover" *ngIf="pointManagementList.length != 0;else elseListPoint">
          <thead class="table-primary">
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Lên lớp</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Học kỳ 1</th>
            <th scope="col">Học kỳ 2</th>
            <th scope="col">Trung bình cả năm</th>
            <th scope="col">Chỉnh sửa</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let point of pointManagementList; index as i">
            <th scope="row">{{i + 1}}</th>
            <td style="text-align: center" *ngIf="!point.conditionCheck">
              <input class="form-check-input" type="checkbox" name="{{point.id}}" checked [value]="point.conditionCheck" (change)="changeStatus(point.id)">
            </td>
            <td style="text-align: center" *ngIf="point.conditionCheck">
              <input class="form-check-input" type="checkbox" name="{{point.id}}"  [value]="point.conditionCheck" (change)="changeStatus(point.id)">
            </td>
            <td style="text-align: left">{{point.studentName}}</td>
            <td>{{point.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
            <td>
              <input [value]="point.semesterOne" #one class="form-control" type="number"
                     style="border: 1px solid #b6effb">
            </td>
            <td>
              <input [value]="point.semesterTwo" #two class="form-control" type="number"
                     style="border: 1px solid #b6effb">
            </td>
            <td *ngIf="point.avgPoint < 5" style="color: red">{{point.avgPoint}}</td>
            <td *ngIf="point.avgPoint >= 5">{{point.avgPoint}}</td>
            <td>
              <button type="button" class="btn btn-outline-warning" (click)="editPoint1(point.id,one.value,two.value)"
                      data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="https://img.icons8.com/color/100/null/pencil-tip.png"
                     style="width: 20px"/>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <ng-template #elseListPoint><h4 style="color: red">Không có học sinh này trong danh sách.</h4></ng-template>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>
</body>
