<body>
<footer>
  <div class="content">
    <div class="item">
      <ul>
        <li class="zoom">Về chúng tôi</li>
        <li>
          <p class="zoom">Chúng tôi cam kết mang đến những kết quả tốt nhất
            và tận tâm phục vụ các em học sinh, luôn nổ lực hết mình vì
            tương lai của các em !
          </p>
        </li>

      </ul>
    </div>
    <div class="item">
      <ul>
        <li class="zoom">Cơ sở chúng tôi</li>
        <li class="zoom">
          <p>Tọa lạc tại 280, Đường Trần Hưng Đạo
            An Hải, An Hải Tây, Sơn Trà, Đà Nẵng.<br>
            Số điện liên hệ: 0123456789.
          </p>
        </li>

      </ul>
    </div>

    <div class="item">
      <ul>
        <li class="zoom">Các môn học chủ đạo</li>
        <li class="zoom">Tiếng Việt</li>
        <li class="zoom">Toán</li>
        <li class="zoom">Tiếng Anh</li>
        <li class="zoom">Code tư duy</li>
      </ul>
    </div>
    <div class="item">
      <h6 class="zoom" style="color: white">Phản hồi cho chúng tôi nếu muốn đăng ký tuyển sinh<br>
        hoặc phản ánh chất lượng dịch vụ của nhà trường và đội ngũ giáo viên !</h6>
      <input class="zoom" type="email" placeholder=" Email..." style="width: 250px; height: 5px; border-radius: 10px">
      <button class="btn btn-danger" type="submit" style=" width: 50px; height: 40px; border-radius: 15px; border: none">Gửi</button>
  </div>
  </div>
</footer>

</body>
