<div class="row" style="margin-top: 25px" >

      <div style="width: 550px;margin-left: 500px" class="container">
        <form [formGroup]="changePassForm" style="border: 2px solid black">
          <h2>ĐỔI MẬT KHẨU</h2>
          <div style="display: block;margin-bottom: 30px">
            <div class="input_group" style="display: flex">
              <i class="fa fa-unlock-alt"></i>
              <input formControlName="newPass"
                     type="password"
                     placeholder="Mật khẩu mới"
                     class="input_text"
                     autocomplete="off"
              />
            </div>
            <div style="position: absolute">
              <p style="color: red;font-family: Arial;"
                 *ngIf="changePassForm.controls.newPass.hasError('required') && changePassForm.controls.newPass.touched">
                Lưu ý*: Không được bỏ trống.
              </p>
              <p style="color:red;font-family: Arial"
                 *ngIf="changePassForm.controls.newPass.hasError('minlength')">
                Lưu ý*:Ít nhất 4 - 30 kí tự.
              </p>
              <p style="color:red;font-family: Arial; padding: 0"
                 *ngIf="changePassForm.controls.newPass.hasError('pattern') && changePassForm.controls.newPass.dirty">
                Lưu ý*: Sai format password (ex:Nu1234567!).
              </p>
            </div>
          </div>
          <div>
            <div class="input_group" style="margin-top: 30px;display: flex">
              <i class="fa fa-unlock-alt"></i>
              <input formControlName="confirmPass"
                     type="password"
                     placeholder="Nhập lại mật khẩu"
                     class="input_text"
                     autocomplete="off" (change)="onPasswordChange()"
              />
            </div>
            <div style="position: absolute">
              <p style="color:powderblue;font-family: Arial"
                 *ngIf="changePassForm.controls.confirmPass.hasError('required') && changePassForm.controls.confirmPass.dirty">
                Lưu ý: Không được bỏ trống.
              </p>

              <p style="color:red;font-family: Arial" *ngIf="changePassForm.controls.confirmPass.hasError('mismatch')">
                Lưu ý: Mật khẩu không khớp vs mật khẩu trước đó.
              </p>
            </div>
          </div>
          <div class="button_group" id="login_button">
            <!--        <a style="color: white;margin-left: 90px">Đổi mật khẩu</a>-->
            <button type="submit" class="btn btn-outline-dark"
                    style="margin-left: 100px;margin-top: -15px;font-size: 20px; padding: 5px 10px;border-radius: 15px;font-family: Arial;color: black"
                    data-bs-toggle="modal" data-bs-target="#exampleModal" [disabled]="!changePassForm.valid">
              Đồng ý
            </button>
          </div>
          <div class="fotter" style="margin-top: 10px">
            <a>Bạn muốn quay lại?</a>
            <a class="hover" routerLink="/"> Quay lại</a>
          </div>
        </form>
      </div>
</div>
<!--<div class="login_form_container" style="margin-left: 500px; width: 2000px; height: 900px;padding: 0">-->
<!--  <div class="login_form">-->
<!--    <h2>ĐỔI MẬT KHẨU</h2>-->
<!--    <form [formGroup]="changePassForm">-->
<!--      <div style="display: block;margin-bottom: 30px">-->
<!--        <div class="input_group" style="display: flex">-->
<!--          <i class="fa fa-unlock-alt"></i>-->
<!--          <input formControlName="newPass"-->
<!--                 type="password"-->
<!--                 placeholder="Mật khẩu mới"-->
<!--                 class="input_text"-->
<!--                 autocomplete="off"-->
<!--          />-->
<!--        </div>-->
<!--        <div style="position: absolute">-->
<!--          <p style="color: red;font-family: Arial;"-->
<!--             *ngIf="changePassForm.controls.newPass.hasError('required') && changePassForm.controls.newPass.touched">-->
<!--            Lưu ý*: Không được bỏ trống.-->
<!--          </p>-->
<!--          <p style="color:red;font-family: Arial"-->
<!--             *ngIf="changePassForm.controls.newPass.hasError('minlength')">-->
<!--            Lưu ý*:Ít nhất 4 - 30 kí tự.-->
<!--          </p>-->
<!--          <p style="color:red;font-family: Arial; padding: 0"-->
<!--             *ngIf="changePassForm.controls.newPass.hasError('pattern') && changePassForm.controls.newPass.dirty">-->
<!--            Lưu ý*: Sai format password (ex:Nu1234567!).-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div>-->
<!--        <div class="input_group" style="margin-top: 70px;display: flex">-->
<!--          <i class="fa fa-unlock-alt"></i>-->
<!--          <input formControlName="confirmPass"-->
<!--                 type="password"-->
<!--                 placeholder="Nhập lại mật khẩu"-->
<!--                 class="input_text"-->
<!--                 autocomplete="off" (change)="onPasswordChange()"-->
<!--          />-->
<!--        </div>-->
<!--        <div style="position: absolute">-->
<!--          <p style="color:powderblue;font-family: Arial"-->
<!--             *ngIf="changePassForm.controls.confirmPass.hasError('required') && changePassForm.controls.confirmPass.dirty">-->
<!--            Lưu ý: Không được bỏ trống.-->
<!--          </p>-->

<!--          <p style="color:red;font-family: Arial" *ngIf="changePassForm.controls.confirmPass.hasError('mismatch')">-->
<!--            Lưu ý: Mật khẩu không khớp vs mật khẩu trước đó.-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="button_group" id="login_button">-->
<!--        &lt;!&ndash;        <a style="color: white;margin-left: 90px">Đổi mật khẩu</a>&ndash;&gt;-->
<!--        <button type="submit" class="btn btn-outline-dark"-->
<!--                style="margin-left: 50px;font-size: 20px; padding: 5px 10px;border-radius: 15px;font-family: Arial;color: black"-->
<!--                data-bs-toggle="modal" data-bs-target="#exampleModal" [disabled]="!changePassForm.valid">-->
<!--          Đồng ý-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="fotter">-->
<!--        <a>Bạn muốn quay lại?</a>-->
<!--        <a class="hover" routerLink="/"> Quay lại</a>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
<app-confirm [changePassForm]="changePassForm"></app-confirm>
