.row{
  margin: 0; padding: 0
}
.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 26px;
  padding-left: 26px; }
.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }


*{
  margin: 5px;
  padding: 2px;
  box-sizing: border-box;
}
.hover:hover{
  color: #86cfda;
}
p{
  margin: 0;
  padding: 0;

}
body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  background-color: #0c1022;
}
.login_form_container{
  position: relative;
  width: 250px;
  height: 200px;
  max-width: 500px;
  max-height: 450px;
  background: #040717;
  border-radius: 50px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 70px;
}
.login_form_container::before{

  position: absolute;
  width: 170%;
  height: 170%;
  content: '';
  background-image: conic-gradient(transparent, transparent, transparent, #ee00ff);
  animation: rotate_border 6s linear infinite;

}
.login_form_container::after{
  /*position: absolute;*/
  /*width: 170%;*/
  /*height: 170%;*/
  /*content: '';*/
  /*background-image: conic-gradient(transparent, transparent, transparent, #00ccff);*/
  /*animation: rotate_border 6s linear infinite;*/
  /*animation-delay: -3s;*/
  position: absolute;
  width: 182%;
  height: 170%;
  content: '';
  background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
}
@keyframes rotate_border{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.login_form{
  /*position: absolute;*/
  /*content: '';*/
  /*background-color: white;*/
  /*border-radius: 50px 5px;*/
  /*inset: 5px;*/
  /*padding: 50px 40px;*/
  /*z-index: 10;*/
  /*color: #040717;*/
  position: absolute;
  content: '';
  background-color: white;
  border-radius: 57px 29px;
  inset: 1px;
  padding: 600px 40px;
  z-index: 10;
  color: #040717;
}
h2{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.input_group{
  margin-top: 40px;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: start;
}
.input_text{
  width: 80%;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #040717;
  font-size: 20px;
  padding-left: 10px;
  color: darkslategray;

}
::placeholder{
  font-size: 15px;
  color: #040717;
  letter-spacing: 1px;

}
.fa{
  font-size: 20px;

}
#login_button{
  position: relative;
  width: 300px;
  height: 40px;
  transition: 1s;
  margin-top: 40px;


}
#login_button a{
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  z-index: 10;
  cursor: pointer;
  font-size: 22px;
  letter-spacing: 2px;
  border: 1px solid #00ccff;
  border-radius: 50px;
  background-color: #0c1022;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fotter {
  margin-top: 30px;
  /*display: flex;*/
  justify-content: space-between;

}
.fotter a{
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}
.glowIcon {
  text-shadow: 0 0 10px #00ccff;

}
