.update {
  float: right;
  margin-top: 20px
}

.title {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center
}

.selectFind {
  padding-bottom: 30px
}

.textCheck {
  text-align: center
}

.row{
  margin: 0; padding: 0
}
